# Dragon2 - 3D Capsule Reentry Test Case
#

subsection A - TimeLoop
    set basename          = run/capsule-3d
    set final time        = 100.0
    set timer granularity = 1.0
end

subsection B - Equation
    set dimension = 3
    set equation  = navier stokes
    set gamma     = 1.4
end

subsection C - Discretization
    subsection mesh_file
        set file path                  = cases/capsule-3d.msh
        set boundary mapping           = 3:no_slip, 5:dynamic
        set default boundary condition = do_nothing
    end
end

subsection E - InitialValues
    # Flow coming from the right (reentry direction)
    set direction = -1, 0, 0

    subsection uniform
        # rho = 1.4, velocity = 8.0 (Mach 8), p = 1.0
        set primitive state = 1.4, 8.0, 1.0
    end
end

subsection H - TimeIntegrator
    set cfl min = 0.9
    set cfl max = 0.9
end
