# Dragon2 - 3D Sphere in Channel Test Case
#

subsection A - TimeLoop
    set basename          = run/sphere-channel-3d
    set final time        = 5.0
    set timer granularity = 0.1
end

subsection B - Equation
    set dimension = 3
    set equation  = navier_stokes
    set gamma     = 1.4
    set mu        = 1.0e-3
    set lambda    = 0.0
    set kappa     = 0.0
end

subsection C - Discretization
    set geometry        = mesh_file
    set mesh refinement = 0

    subsection mesh_file
        set file path                  = cases/sphere-channel-3d.msh
        set boundary mapping           = 0:do_nothing, 2:slip, 4:dirichlet
        set default boundary condition = do_nothing
    end
end

subsection E - InitialValues
    set direction = 1, 0, 0

    subsection uniform
        # rho = 1.4, velocity = 3.0 (Mach 3), p = 1.0
        set primitive state = 1.4, 3.0, 1.0
    end
end

subsection H - TimeIntegrator
    set cfl min = 0.9
    set cfl max = 0.9
end
